AUTH_PORT=8081
AUTH_GRPC_PORT=50051

TASKS_PORT=8082

POSTGRES_DB=tasksdb
POSTGRES_USER=tasks
POSTGRES_PASSWORD=tasks
POSTGRES_HOST=db
POSTGRES_PORT=5432

TASKS_DB_DSN=postgres://tasks:tasks@db:5432/tasksdb?sslmode=disable

AUTH_GRPC_ADDR=auth:50051
AUTH_BASE_URL=http://auth:8081

REDIS_ADDRS=redis-cluster:7000,redis-cluster:7001,redis-cluster:7002,redis-cluster:7003,redis-cluster:7004,redis-cluster:7005
REDIS_PASSWORD=
REDIS_DB=0
CACHE_TTL_SECONDS=120
CACHE_TTL_JITTER_SECONDS=30
REDIS_OP_TIMEOUT_MS=300
REDIS_INIT_TIMEOUT_MS=1500
REDIS_PORT_1=7000
REDIS_PORT_2=7001
REDIS_PORT_3=7002
REDIS_PORT_4=7003
REDIS_PORT_5=7004
REDIS_PORT_6=7005

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBIT_URL=amqp://guest:guest@rabbitmq:5672/
QUEUE_NAME=task_jobs
DLX_NAME=task_jobs_dlx
DLQ_NAME=task_jobs_dlq
WORKER_PREFETCH=1
MAX_ATTEMPTS=3
PROCESSING_MIN_MS=2000
PROCESSING_MAX_MS=5000

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s/grafana/
GRAFANA_SERVE_FROM_SUB_PATH=true

PROMETHEUS_PORT=9090

NGINX_PORT=8080

IMAGE_TAG=local
AUTH_IMAGE_REPO=tip2-pr12/auth
TASKS_IMAGE_REPO=tip2-pr12/tasks
WORKER_IMAGE_REPO=tip2-pr14/worker

GRAPHQL_PORT=8090
TASKS_REST_BASE_URL=http://tasks_1:8082
GRAPHQL_IMAGE_REPO=tip2-pr12/graphql
